<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ward Characteristics</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>
    <h2>Ward Characteristics</h2>
    <p>See key census information on homeownership, rental and households with children and how they have changed from 2011 to 2016.</p>
    <p>Select the data you wish to see from the dropdown menu</p>
    <select id="selDataset" multiple="multiple" onchange="getData(this.value)">
        <option value="dataset1">2016 Households with Children</option>
        <option value="dataset2">2016 Rental Properties</option>
        <option value="dataset3">2016 Owned Properties</option>
        <option value="dataset4">2011 Households with Children</option>
        <option value="dataset5">2011 Rental Properties</option>
        <option value="dataset6">2011 Owned Properties</option>
    </select>

    <div id="plot"></div>
        <script src="../static/js/characteristics.js"></script>
    
    <!-- Plotly JS -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</body>
</html>
